#! /bin/sh
watch_file flake.nix
watch_file flake.lock
source <(nix print-dev-env)

export CLOUDFLARE_ACCOUNT_ID=$(sops --decrypt --extract '["cloudflare-account-id"]' /data/machine/secrets/machine.yaml)
export CLOUDFLARE_API_TOKEN=$(sops --decrypt --extract '["cloudflare-api-token"]' /data/machine/secrets/machine.yaml)
