#! /bin/sh

# reload when these files change
watch_file flake.nix
watch_file flake.lock

{
  # shell gc root dir
  mkdir -p "$(direnv_layout_dir)"
  if test -n "$(command -v nix3)"; then
    nix=nix3
  else
    nix=nix
  fi
  eval "$($nix print-dev-env --no-update-lock-file --no-write-lock-file --profile $(direnv_layout_dir)/flake-profile)"
}
