# Build
build/
coverage/
dist/
pkg/

# Dependencies
node_modules/
pnpm-lock.yaml
.pnpm-debug.log

# Development
.direnv/
.env*.local
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
.playwright/
.playwright-cli/
Thumbs.db
